* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #9CCC65;
  letter-spacing: 0.04rem;
}

body {
  min-height: 100vh;
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
  }
}
body a {
  text-decoration: none;
}
body section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
body h2 {
  margin-bottom: 1rem;
}
body header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
body header a {
  text-decoration: none;
  color: black;
  height: 80%;
  display: inline-block;
  filter: brightness(0);
}
@media (prefers-color-scheme: dark) {
  body header a {
    color: white;
    filter: brightness(1);
  }
}
body header a img {
  height: 100%;
}
@media (max-width: 368px) {
  body header a img {
    display: none;
  }
}
body header figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
body header figure a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}
body header figure div {
  display: flex;
  justify-content: space-between;
  width: 5rem;
  height: 100%;
  align-items: center;
}
body header figure div .lang--button {
  border: 1px solid black;
  outline: none;
  aspect-ratio: 3/2;
  background: red;
  width: 40%;
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body header figure div #dutch--b {
  background-image: url("../src/NL_Flag.webp");
}
body header figure div #english--b {
  background-image: url("../src/EN_Flag.webp");
}
body .index--page {
  min-height: 80vh;
}
body .index--page .slider--section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
}
body .index--page figure {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  width: 100%;
  overflow-x: scroll;
}
body .index--page figure img {
  width: 33%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 748px) {
  body .index--page figure img {
    width: 50%;
  }
}
@media (max-width: 528px) {
  body .index--page figure img {
    width: 100%;
  }
}
body .index--page .cta--section {
  height: 100vh;
  background-image: url("../src/SDGGame.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
body .index--page .cta--section h2 {
  font-size: 3rem;
  color: white;
}
@media (max-width: 528px) {
  body .index--page .cta--section h2 {
    font-size: 1.5rem;
  }
}
body .index--page .cta--section a {
  text-decoration: none;
  cursor: pointer;
  background: #9CCC65;
  color: white;
  font-size: 2rem;
  border-radius: 0.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 3px solid white;
  transition: all 0.3s;
}
body .index--page .cta--section a:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0px 0px 10px white;
}
body .index--page .sdgs--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}
body .index--page .sdgs--section h2 {
  width: 95%;
}
body .index--page .sdgs--section figure {
  display: grid;
  width: 95%;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: hidden;
}
@media (max-width: 748px) {
  body .index--page .sdgs--section figure {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 528px) {
  body .index--page .sdgs--section figure {
    grid-template-columns: 1fr;
  }
}
body .index--page .sdgs--section figure div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
body .index--page .sdgs--section figure div h3 {
  color: black;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  body .index--page .sdgs--section figure div h3 {
    color: white;
  }
}
body .index--page .sdgs--section figure div div {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body .index--page .sdgs--section figure div div img {
  min-width: 100%;
  transition: all 0.3s;
  height: 100%;
}
body .index--page .sdgs--section figure div div img:hover {
  transform: scale(1.05);
}
body .contact--page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 748px) {
  body .contact--page {
    justify-content: center;
    gap: 2rem;
  }
}
body .contact--page .Front {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 1048px) {
  body .contact--page .Front {
    font-size: 4rem;
  }
}
@media (max-width: 748px) {
  body .contact--page .Front {
    font-size: 2.5rem;
  }
}
body .contact--page .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  margin-top: 3rem;
  font-size: 1.3rem;
}
@media (max-width: 748px) {
  body .contact--page .contact {
    flex-direction: column;
  }
}
body .contact--page .contact div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
body .contact--page .contact div a {
  text-decoration: none;
  color: black;
}
@media (prefers-color-scheme: dark) {
  body .contact--page .contact div a {
    color: white;
  }
}
body .contact--page .contact div a:hover {
  text-decoration: underline;
}
body .sdg--page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 105vh;
}
@media (max-width: 1048px) {
  body .sdg--page {
    min-height: 150vh;
  }
}
@media (max-width: 428px) {
  body .sdg--page {
    min-height: 180vh;
  }
}
body .sdg--page section {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 10%;
}
@media (max-width: 1048px) {
  body .sdg--page section {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5rem;
  }
}
body .sdg--page section figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  gap: 1rem;
}
@media (max-width: 1048px) {
  body .sdg--page section figure {
    width: 80%;
    align-items: flex-start;
  }
}
body .sdg--page section figure h1 {
  font-size: 2rem;
}
body .sdg--page section figure img {
  width: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 528px) {
  body .sdg--page section figure img {
    width: 100%;
  }
}
body .sdg--page section article {
  width: 35%;
}
@media (max-width: 1048px) {
  body .sdg--page section article {
    width: 80%;
  }
}
body .sdg--page section article p {
  font-size: 1.5rem;
  color: black;
}
@media (prefers-color-scheme: dark) {
  body .sdg--page section article p {
    color: white;
  }
}
body .sdg--page section article h2 {
  font-size: 2rem;
}
body .sdg--page a {
  text-decoration: none;
  cursor: pointer;
  background: #9CCC65;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  padding: 1rem;
  border: 3px solid white;
  transition: all 0.3s;
}
@media (max-width: 528px) {
  body .sdg--page a {
    font-size: 1rem;
    padding: 2rem;
    font-weight: bold;
  }
}
body .sdg--page a:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0px 0px 10px white;
}
body footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  height: 15vh;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.062745098);
}
body footer a {
  height: 100%;
  display: inline-block;
}
body footer a img {
  height: 100%;
}
body footer figure {
  display: flex;
  flex-direction: column;
}
body footer figure a {
  text-decoration: none;
  color: black;
}
@media (prefers-color-scheme: dark) {
  body footer figure a {
    color: white;
  }
}
body footer figure a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */